[color]
    ui = auto
    grep = auto

[core]
    pager = less -r

[user]
	name = Derek Kozel

[merge]
	tool = meld

[push]
	default = simple

[diff]
	tool = meld

[difftool]
	prompt = false

[credential]
    helper = cache --timeout=3600

[alias]
    track = add --intent-to-add
    track-all = !git add --intent-to-add $(git ls-files -o --exclude-standard)
    set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
    push-upstream = !git push --set-upstream origin `git symbolic-ref --short HEAD`
    cd-base = !cd $(git rev-parse --show-toplevel)
    undo-commit = reset --soft HEAD~1
	logline = log --pretty=format:'%Cgreen%h%Creset - %s %C(yellow)%d%Creset' --abbrev-commit

[include]
    path = ~/.gitconfig_local

[gpg]
	program = gpg2
[help]
	autocorrect = 30