[color]
    ui = auto
    grep = auto

[core]
    pager = less -r

[user]
	name = Derek Kozel

[merge]
	tool = meld

[push]
	default = simple

[diff]
	tool = meld

[difftool]
	prompt = false

[credential]
    helper = cache --timeout=3600

[alias]
    track = add --intent-to-add
    track-all = !git add --intent-to-add $(git ls-files -o --exclude-standard)
